# Finding the heavy traffic indicators on I-94

![I-94 Figma Overview](i94_figma.png)

## Introduction
Interstate 94 is an east-west Interstate Highway in United States. In this project, we are going to analyze the data to **determine the key indicators of heavy traffic** on I-94. These indicators can be weather type, time of the day, etc.

## Dataset
The dataset we are using is from UCI Machine Learning Repository, it includes all the necessary details of traffic on I-94. The data is recorded by the station located between Minneapolis and Saint Paul, and only the traffic moving **from east to west** is recorded, but is sufficient enough for this analysis.

## Examine the dataset

In [1]:
# import necessary libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
# load the dataset
df = pd.read_csv("Metro_Interstate_Traffic_Volume.csv")

In [11]:
# display the general information about the DataFrame
print("*" * 100)
print("General Information:")
print(df.info())
print("*" * 100)

# print the first and last 5 rows of the DataFrame
print("*" * 100)
print("First 5 rows:")
print(df.head())
print("*" * 100)

print("*" * 100)
print("Last 5 rows:")
print(df.tail())
print("*" * 100)

****************************************************************************************************
General Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   holiday              61 non-null     object
 1   temp                 48204 non-null  float64
 2   rain_1h              48204 non-null  float64
 3   snow_1h              48204 non-null  float64
 4   clouds_all           48204 non-null  int64
 5   weather_main         48204 non-null  object
 6   weather_description  48204 non-null  object
 7   date_time            48204 non-null  object
 8   traffic_volume       48204 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 3.3+ MB
None
****************************************************************************************************
****************************************************************************************************
First 5 rows:
  holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
0     NaN  288.28      0.0      0.0          40       Clouds
1     NaN  289.36      0.0      0.0          75       Clouds
2     NaN  289.58      0.0      0.0          90       Clouds
3     NaN  290.13      0.0      0.0          90       Clouds
4     NaN  291.14      0.0      0.0          75       Clouds

  weather_description            date_time  traffic_volume
0    scattered clouds  2012-10-02 09:00:00            5545
1       broken clouds  2012-10-02 10:00:00            4516
2     overcast clouds  2012-10-02 11:00:00            4767
3     overcast clouds  2012-10-02 12:00:00            5026
4       broken clouds  2012-10-02 13:00:00            4918
****************************************************************************************************
****************************************************************************************************
Last 5 rows:
      holiday    temp  rain_1h  snow_1h  clouds_all  weather_main  \
48199     NaN  283.45      0.0      0.0          75        Clouds
48200     NaN  282.76      0.0      0.0          90        Clouds
48201     NaN  282.73      0.0      0.0          90  Thunderstorm
48202     NaN  282.09      0.0      0.0          90        Clouds
48203     NaN  282.12      0.0      0.0          90        Clouds

          weather_description            date_time  traffic_volume
48199           broken clouds  2018-09-30 19:00:00            3543
48200         overcast clouds  2018-09-30 20:00:00            2781
48201  proximity thunderstorm  2018-09-30 21:00:00            2159
48202         overcast clouds  2018-09-30 22:00:00            1450
48203         overcast clouds  2018-09-30 23:00:00             954
****************************************************************************************************

There are several interesting observations about the dataset. First, it includes **9 columns** with different features, such as **numerical information like temperature, rain, and snow**, as well as **descriptive information like weather description**. The "holiday" column indicates **whether a day is a holiday**; only 61 entries are non-null, which means there are only 61 holidays in the dataset.